:root {
  --blue-primary: #0065fe;
  --neutral-white: #fff;
  --text-black: #141414;
  --dark-gradient: linear-gradient(
    180deg,
    #1e3448 99.99%,
    rgba(30, 52, 72, 0) 100%
  );
  --bold-font: "Gilroy-Bold", sans-serif;
  --medium-font: "Gilroy-Medium", sans-serif;
  --regular-font: "Gilroy-Regular", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 18px;
  font-family: "Gilroy-Regular", sans-serif;
}

.btn {
  padding: 12px 24px;
  border-radius: 100px;
  color: var(--neutral-white);
  background-color: var(--blue-primary);
}
.blue-txt {
  color: var(--blue-primary);
}

.cta-grp{
  display: flex;
  gap: 48px;
  align-items: center;
  justify-items: center;
  margin: 62px auto;
  max-width: 300px;
}
.cta-grp a{
  text-decoration: none;
}

.flx {
  display: flex;
  align-items: center;
}

.hero h1 {
  color: var(--text-black);
  font-size: 48px;
  line-height: 96px;
  text-align: center;
  font-family: var(--bold-font);
  max-width: 948px;
  margin: 96px auto 8px;
}

.hero h1 .underline {
  position: relative;
}

.hero h1 .underline img{
  width: 40%;
  position: absolute;
  top: 45px;
  left: calc(50% - 20%)
}
.hero p {
  color: var(--text-black);
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  font-family: var(--medium-font);
  max-width: 781px;
  margin: 0 auto;
}

.info-card{
  border: 0.5px solid  var(--blue-primary);
  border-radius: 24px;
  padding: 40px 60px;
  background: rgba(254, 254, 254, 0.10);
  backdrop-filter: blur(106px);
  max-width: 770px;
  margin: 0 auto;
}

.info-card p {
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  max-width: 380px;
}
.logo {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.logo .txt {
  font-size: 24px;
  line-height: 32px;
  font-family: var(--bold-font);
  color: var(--blue-primary);
}

ul li a {
  color: var(--text-black);
}

.wrapper {
  max-width: 1150px;
  margin: 0 auto;
}
.wrapper li {
  list-style: none;
}
.wrapper li a {
  text-decoration: none;
}
.wrapper nav {
  display: flex;
  justify-content: space-around;
  font-family: var(--medium-font);
}

.wrapper ul {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 18px;
  
}
